*{
    box-sizing: border-box;
   margin: 0 ;
    
}
body{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.bg-light{
     flex: 0 0%;
    display: flex;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    margin: 0 auto;
    
    
    
}
.text-center{
    margin-top: 30px;
width: 960px;
}
/*per*/
.container {
    margin-top: 30px;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.2rem;
    
}
h2{
    text-align: center;
    
}
.lead{
    width: 960px;
    text-align: center;
    line-height: 1.5rem;
}




/*osnova*/
.row{
    
    display: flex;
    flex-direction: row-reverse;
    width: 960px;
    width: 100%;
margin: 0;
  justify-content: space-evenly;
height: 100%;;
}
@media (max-width:700px){
    .text-center{
        flex-wrap: wrap;
        width: 100%;
 }
 .lead{
     flex-direction: column;
     width: 100%;
 }
    .row{
        flex-direction: column;
        width: 100%;
    }
    
    
}


.col-md-4{
   width: 360px;
   
}
.d-flex{
    display: flex;
    justify-content: space-around;
    color: rgb(109, 108, 108);
}
.text-muted{
    font-size: 15px;
    font-weight: 400;
}
.badge{
    font-size: 15px;
    font-weight: 400;
    border-radius: 40%;
    width: 20px;
    height: 20px;
   text-align: center;
    background-color: darkgray;
}
.list-group-item{
   border-bottom: 1px solid;
    line-height: 40px;
    margin: 0;
    
}
.list-group{
   width: 360px;
   border: 1px solid;
   border-radius: 5px;
   height: 360px;
}
/**/
.input-group-2{
    display: flex;
    width: 360px;
    width: 100%;
}
.p-2{
    display: flex;
    width: 370px;
    width: 100%;  
}
.form-control{
    height: 35px;
    width: 370px;
    width: 100%;
    margin: 5px;
}
.btn{
    height: 35px;
    width: 370px;
    width: 100%;
margin-left: -1px;
}
.input-group-append{
  display: flex;
  justify-content:;
}
/**/
.mb-3{
    display: flex;
    flex-direction: column;
    margin: 5px;
    
    
}
.append{
    display: flex;
    height: 35px;
    width: 370px;
    width: 100%; 
}
.dog{
    display: flex;
    width: 30px;
    height: 20px;
    border: 1px solid;
    width: 100%;
}
/*ZIP*/
.col-md-5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 370px;
    width: 100%; 
}
.custom-select{
    display: block;
    height: 35px;
    width: 370px;
    width: 100%;  
}
.btn-primary{
    margin-top: 5px;
    color: white;
    background-color: rgb(51, 51, 221);
}
.custom-control{
    margin-top: 10px;
   
}
.custom-control-input:active{
      background-color: blue;
}


/*3 atap*/
.custom-control {
    display: flex;
}
.my-5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list-inline{
    display: flex;
    justify-content: center;

}
.list-inline-item{
    display: flex;
list-style-type: none;
padding: 20px;
}
.mb-1{
    display: flex;
    justify-content: center;
    
}
.list-inline .list-inline-item a{
    text-decoration: none;
   
}